body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.err-msg{
  color: red;
  padding-left: 10px;
  line-height: 30px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.app{
 background: #fafafa;
}
/*header*/
.app .app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/*footer*/
.app .app-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.app .app-footer .app-footer-con{
  background: #fafafa;
  height: 100%;
  text-align: left;
}
.app .app-footer .am-tab-bar{}
.app .app-footer .am-tab-bar .am-tabs{}
.app .app-footer .am-tab-bar .am-tabs .am-tabs-tab-bar-wrap{
    background: #fff;
    z-index: 1000;
}
.am-tabs-content-wrap{
    z-index: 999;
}
/*CONTENT*/
.app .app-con{
    margin: 45px 0;
}
/*user list */
.app .app-con .app-card{
  margin-bottom: 10px;
}
.app .app-con .app-card .am-card-header{
  padding: 5px 15px;
}
.app .app-con .app-card .am-card-header img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.app .app-con .app-card .am-card-header-content{
  font-size: 14px;
}
.app .app-con .app-card .am-card-header-extra{
  font-size: 15px;
}
.app .app-con .app-card .am-card-body{
  /*padding: 15px 15px 6px;*/
}
.app .app-con .app-card .am-card-body h5{
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: normal;
}
.app .app-con .app-card .am-card-body span{
  float: right;
  color: #0891ff;
}
.app .app-con .app-card .am-card-body p{
  margin: 0;
  line-height: 20px;
  font-size: 13px;
  color: #aaa;
}

/*my center*/
.app .app-con .app-my .am-result{

}
.app .app-con .app-my .am-result .am-result-pic img{
    width: 100%;
    height: 100%;
}
.app .app-con .app-my .my-list{

}
.app .app-con .app-my .my-list .am-list-body p{
    margin: 5px 0;
}
.app .app-con .app-my .my-list-out{
    margin-top: 30px;
}
.app .app-con .app-my .my-list-out .am-list-content{
    text-align: center;
    color: #0891ff;
}